 
               <div class="footer_border">

            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
           <footer>
            <div class="container">
                <div class="footer_in">
                    <div class="left_footer">
                        <div class="footer_title">
                            მეტი ინფორმაცია
                        </div>
                        <div class="footer_qveda_info">
                            <div class="footer_info">
                                <div class="footer_books">
                                    წიგნები
                                </div>
                                <div class="footer_books1">
                                    <a href="#">მენეჯმენტი</a>
                                </div>
                                <div class="footer_books1">
                                    <a href="#">მარკეტინგი</a>
                                </div>
                                <div class="footer_books1">
                                    <a href="#">Start Up</a>
                                </div>
                            </div>

                            <div class="footer_info2">
                                <div class="footer_books">
                                    სიახლეები
                                </div>
                                <div class="footer_books1">
                                    <a href="#">მენეჯმენტი</a>
                                </div>
                                <div class="footer_books1">
                                    <a href="#">მარკეტინგი</a>
                                </div>

                            </div>
                            <div class="footer_info3">
                                <div class="footer_books">
                                    კონტაქტი
                                </div>
                                <div class="footer_books1 adress">
                                    თბილისი, იოსებიძის ქ. №49
                                </div>
                                <div class="footer_books1 website">
                                    www.blueocean.ge
                                </div>
                                <div class="footer_books1 email">
                                    webadmin@blueocean.ge
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="right_footer">
                        <div class="right_title">
                            წარმატების ბიბლიოთეკა
                        </div>
                        <div class="cls"></div>
                        <div class="top">
                            <div class="topge">
                                <img src="img/topge.png" alt="">
                            </div>

                            <div class="like_fb">
                                <img src="img/fblike.jpg" alt="">
                            </div>
                        </div>
                        <div class="cls"></div>
                        <div class="copyright">
                            2017 &copy; ყველა უფლება დაცულია
                        </div>

                    </div>
                </div>
            </div>

        </footer>