   {% load static %}
          
          
           <body>
           <header>
            <div class="container">
                <div class="header">
                    <div class="logo">
                        <img src="{% static 'img/logo.jpg' %}" alt="">
                    
                    </div>
                    <div class="log_reg_block_in">
                        <div class="log_reg_block">
                            <div class="login">
                                <a href="#">ავტორიზაცია</a>
                            </div>
                            <span class="border"></span>
                            <div class="signup">
                                <a href="#">რეგისტრაცია</a>
                            </div>
                            <span class="border"></span>
                            <div class="facebook_like">
                                <img src="img/fblike.jpg" alt="">
                            </div>
                        </div>
                        <div class="search">
                            <input type="text" class="search_bar" placeholder="ძიება">
                            <button class="search_button"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cls"></div>
        </header>

        <nav>

            <div class="container">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#">მთავარი</a>
                        </li>
                        <div class="border2"></div>

                        <li class="books dropdown">
                            <a href="#">წიგნები</a>
                            <ul class="dropdown-content">
                                <a href="#">
                                    <li>მენეჯმენტი</li>
                                </a>
                                <a href="#">
                                    <li>მარკეტინგი</li>
                                </a>
                                <a href="#">
                                    <li>ფინანსები</li>
                                </a>
                                <a href="#">
                                    <li>Start Up</li>
                                </a>
                            </ul>
                        </li>
                        <div class="border2"></div>
                        <li class="articles dropdown">
                            <a href="#">სტატიები</a>
                            <ul class="dropdown-content">
                                <a href="#">
                                    <li>მენეჯმენტი</li>
                                </a>
                                <a href="#">
                                    <li>მარკეტინგი</li>
                                </a>
                                <a href="#">
                                    <li>ფინანსები</li>
                                </a>
                                <a href="#">
                                    <li>Start Up</li>
                                </a>
                            </ul>
                        </li>
                        <div class="border2"></div>
                        <li>
                            <a href="#">ჩვენ შესახებ</a>
                        </li>
                        <div class="border2"></div>
                        <li>
                            <a href="#">კონტაქტი</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="cls"></div>
        </nav>
        </body>