{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
        <div class="container">
                <ul class="slider-wrapper">
                    <li class="current-slide">
                        <img src="img/slider1.png" title="" alt="">

                        <div class="caption">
                            <p>საკუთარი ლურჯი ოკეანის სტრატეგიის შესაქმნელად საჭიროა შევცვალოთ არსებული ბაზრის საზღვრები
                            </p>
                        </div>
                    </li>

                    <li>
                        <img src="http://photobooks.ge/img/main_cover.png" title="" alt="">
                        <div class="caption">

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo iusto placeat aliquid tempore harum, similique!</p>
                        </div>
                    </li>

                    <li>
                        <img src="img/slider1.png" title="" alt="">

                        <div class="caption">

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dicta laudantium voluptatem minima! Dolorum tempore dolores excepturi omnis provident. Commodi quis aperiam maiores, dolore a perferendis!</p>
                        </div>
                    </li>

                    <li>
                        <img src="http://photobooks.ge/img/main_cover.png" title="" alt="">

                        <div class="caption">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolore dignissimos laudantium.</p>
                        </div>
                    </li>
                </ul>
                <div class="slider_border">

                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </section>




            </p>
        </div>

        <div class="cls"></div>
        <section class="book_shelf">
            <div class="container">
                <div class="book_shelf_in">
                    <a href="#">
                        <div class="shelf_book">
                            <div class="book_picture">
                                <img src="img/book1.png" alt="">
                            </div>
                            <div class="book_desc">
                                <div class="book_title">
                                    ლურჯი ოკეანის სტრატეგია
                                </div>
                                <div class="book_price">
                                    <div class="book_new_price">
                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                        <span class="gel">ლ</span>
                                    </div>
                                    <div class="book_old_price">
                                        <div class="old_line">
                                            <span class="cash_price">16.</span>
                                            <span class="gel">ლ</span>
                                        </div>
                                        <span class="price_cash_old">50</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="shelf_book">
                            <div class="book_picture">
                                <img src="img/book2.png" alt="">
                            </div>
                            <div class="book_desc">
                                <div class="book_title">
                                    ლურჯი ოკეანის სტრატეგია
                                </div>
                                <div class="book_price">
                                    <div class="book_new_price">
                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                        <span class="gel">ლ</span>
                                    </div>
                                    <div class="book_old_price">
                                        <div class="old_line">
                                            <span class="cash_price">16.</span>
                                            <span class="gel">ლ</span>
                                        </div>
                                        <span class="price_cash_old">50</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="shelf_book">
                            <div class="book_picture">
                                <img src="img/book3.png" alt="">
                            </div>
                            <div class="book_desc">
                                <div class="book_title">
                                    ლურჯი ოკეანის სტრატეგია
                                </div>
                                <div class="book_price">
                                    <div class="book_new_price">
                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                        <span class="gel">ლ</span>
                                    </div>
                                    <div class="book_old_price">
                                        <div class="old_line">
                                            <span class="cash_price">16.</span>
                                            <span class="gel">ლ</span>
                                        </div>
                                        <span class="price_cash_old">50</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="shelf_book">
                            <div class="book_picture">
                                <img src="img/book1.png" alt="">
                            </div>
                            <div class="book_desc">
                                <div class="book_title">
                                    ლურჯი ოკეანის სტრატეგია
                                </div>
                                <div class="book_price">
                                    <div class="book_new_price">
                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                        <span class="gel">ლ</span>
                                    </div>
                                    <div class="book_old_price">
                                        <div class="old_line">
                                            <span class="cash_price">16.</span>
                                            <span class="gel">ლ</span>
                                        </div>
                                        <span class="price_cash_old">50</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="cls"></div>
        </section>
        <section class="books_all">
            <div class="container">
                <div class="books_store">
                    <ul class="tabs books_title">
                        <li class="active" rel="tab1">მენეჯმენტი</li>
                        <li rel="tab2">მარკეტინგი</li>
                        <li rel="tab3">ფინანსები</li>
                    </ul>
                    <div class="tab_container">
                        <h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>
                        <div id="tab1" class="tab_content">
                            <div class="books_row">
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book1.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book2.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book4.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book3.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cls"></div>
                            </div>
                            <div class="books_row">
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book1.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book3.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book1.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">11.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book3.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">12.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cls"></div>
                            </div>
                        </div>
                        <!-- #tab1 -->
                        <h3 class="tab_drawer_heading" rel="tab2">Tab 2</h3>
                        <div id="tab2" class="tab_content">
                            <div class="books_row">
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book1.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">16.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book2.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book4.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book3.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cls"></div>
                            </div>
                        </div>
                        <!-- #tab2 -->
                        <h3 class="tab_drawer_heading" rel="tab3">Tab 3</h3>
                        <div id="tab3" class="tab_content">
                            <div class="books_row">
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book1.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book3.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book1.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="book_item">
                                    <a href="#">
                                        <div class="book">
                                            <div class="book_picture">
                                                <img src="img/book3.png" alt="">
                                            </div>
                                            <div class="book_desc">
                                                <span class="book_logo"></span>
                                                <div class="book_title">
                                                    ლურჯი ოკეანის სტრატეგია
                                                </div>
                                                <div class="book_price">
                                                    <div class="books_new_price">
                                                        <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                        <span class="gel">ლ</span>
                                                    </div>
                                                    <div class="books_old_price">
                                                        <div class="old_line">
                                                            <span class="cash_price">16.</span>
                                                            <span class="gel">ლ</span>
                                                        </div>
                                                        <span class="price_cash_old">50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cls"></div>
                            </div>
                        </div>
                        <!-- #tab3 -->
                        <h3 class="tab_drawer_heading" rel="tab4">Tab 4</h3>
                    </div>
                    <!-- .tab_container -->
                </div>
                <div class="cls"></div>
            </div>
            <section class="siaxleebi">
                <div class="container">
                    <div class="siaxleebi_in">
                        <ul class="tabs2 books_title">
                            <li class="active" rel="tab1">სიახლეები</li>
                        </ul>
                        <div class="news_all">
                            <div class="news">
                                <a href="#">
                                    <div class="news_img">
                                        <img src="img/news-1.png" alt="">
                                    </div>
                                    <div class="news_desc">
                                        ბიზნესლიტერატურის პროექტი ”ლურჯი ოკეანე” ახალგაზრდების დასაქმების ფესტივალზე იყო წარმოდგენილი
                                    </div>
                                </a>
                            </div>
                            <div class="news">
                                <a href="#">
                                    <div class="news_img">
                                        <img src="img/news-4.png" alt="">
                                    </div>
                                    <div class="news_desc">
                                        ”პალიტრა მედია” და პროექტი ”ლურჯი ოკეანე” ღონისძიების პარტნიორი იყო
                                    </div>
                                </a>
                            </div>
                            <div class="news">
                                <a href="#">
                                    <div class="news_img">
                                        <img src="img/news-3.png" alt="">
                                    </div>
                                    <div class="news_desc">
                                        ბიზნესლიტერატურის პროექტი ”ლურჯი ოკეანე” ახალგაზრდების დასაქმების ფესტივალზე იყო წარმოდგენილი
                                    </div>
                            </div>
                            </a>
                            <div class="news">
                                <a href="#">
                                    <div class="news_img">
                                        <img src="img/news-2.png" alt="">
                                    </div>
                                    <div class="news_desc">
                                        ”პალიტრა მედია” და პროექტი ”ლურჯი ოკეანე” ღონისძიების პარტნიორი იყო
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </div>
    <div class="cls"></div>
    </section>
    
   {% endblock %}