<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ლურჯი ოკეანე</title>
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="all">
        <header>
            <div class="container">
                <div class="header">
                    <div class="logo">
                        <img src="img/logo.jpg" alt="">
                    </div>
                    <div class="log_reg_block_in">
                        <div class="log_reg_block">
                            <div class="login">
                                <a href="#">ავტორიზაცია</a>
                            </div>
                            <span class="border"></span>
                            <div class="signup">
                                <a href="#">რეგისტრაცია</a>
                            </div>
                            <span class="border"></span>
                            <div class="facebook_like">
                                <img src="img/fblike.jpg" alt="">
                            </div>
                        </div>
                        <div class="search">
                            <input type="text" class="search_bar" placeholder="ძიება">
                            <button class="search_button"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cls"></div>
        </header>

        <nav>

            <div class="container">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#">მთავარი</a>
                        </li>
                        <div class="border2"></div>

                        <li class="books dropdown">
                            <a href="#">წიგნები</a>
                            <ul class="dropdown-content">
                                <a href="#">
                                    <li>მენეჯმენტი</li>
                                </a>
                                <a href="#">
                                    <li>მარკეტინგი</li>
                                </a>
                                <a href="#">
                                    <li>ფინანსები</li>
                                </a>
                                <a href="#">
                                    <li>Start Up</li>
                                </a>
                            </ul>
                        </li>
                        <div class="border2"></div>
                        <li class="articles dropdown">
                            <a href="#">სტატიები</a>
                            <ul class="dropdown-content">
                                <a href="#">
                                    <li>მენეჯმენტი</li>
                                </a>
                                <a href="#">
                                    <li>მარკეტინგი</li>
                                </a>
                                <a href="#">
                                    <li>ფინანსები</li>
                                </a>
                                <a href="#">
                                    <li>Start Up</li>
                                </a>
                            </ul>
                        </li>
                        <div class="border2"></div>
                        <li>
                            <a href="#">ჩვენ შესახებ</a>
                        </li>
                        <div class="border2"></div>
                        <li>
                            <a href="#">კონტაქტი</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="cls"></div>
        </nav>

        <div id="product_title">

            <div class="container">
                <div class="product_title">
                    <div class="title_for_product">
                        <ul class="tabs3 product_title products_categ">
                            <li class="active" rel="tab1"> <span>წიგნები</span> <span class="next"></span><span>  მენეჯმენტი</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cls"></div>
        </div>
        <section class="book_product">
            <div class="container">
                <div class="book_left">
                    <div class="book_product_shelf_in">
                        <div class="product_book_cover">
                            <img src="img/cover.png" alt="">
                            <span class="book_border"><img src="img/book_border.png" alt=""></span>
                        </div>
                    </div>
                </div>
                <div class="book_right">
                    <div class="title_book">ლურჯი ოკეანის სტრატეგია</div>
                    <div class="book_author"> ავტორი:<span> ჩან კიმი & რენე მობორნი </span></div>
                    <div class="pages_number"> გვერდების რაოდენობა:<span> 404 </span></div>
                    <div class="product_book_price"> ფასი:<span class="product_new_price"> 14.<span class="product_new_price_cash">50</span>
                        <span class="gel">ლ</span> </span>

                        <span class="product_old_price"> 16. <span class="product_old_price_cash">50</span>
                        <span class="gel">ლ</span> </span>
                    </div>
                    <div class="anotacia"> ანოტაცია:
                        <p> ეს ბესტსელერი, რომელიც მსოფლიოს მრავალმა ორგანიზაციამ და საწარმომ აიტაცა, ეჭქვეშ აყენებს ყველაფერს, რაც აქამდე იცოდით წარმატებული სტრატეგიის შესახებ. წიგნში მოცემულია რჩევები თუ როგორ შევქმნათ მეტოქეობისგან თავისუფალი საბაზრო სივრცე და როგორ გავხადოთ კონკურენცია არააქტუალური. </p>
                    </div>
                    <div class="gadaxede">
                        <a href="#">გადახედე წიგნს</a>
                    </div>
                    <div class="yidva">
                        <a href="#">ყიდვა</a>
                    </div>
                    <div class="cls"></div>
                    <div class="social_icons">
                        <img src="img/facebook.png" alt="">
                    </div>
                </div>

            </div>
        </section>
        <div class="cls"></div>
        <section class="facebook_comments">
            <div class="container">
                <img src="img/comment.png" alt="">
            </div>
        </section>
        <div class="cls"></div>

        <section class="aseve">
            <div class="container">
                <div class="siaxleebi_in">
                    <ul class="tabs2 int">
                        <li class="active" rel="tab1">ასევე შეიძლება დაგაინტერესოდ</li>
                    </ul>
                    <div class="books_row int_row">

                        <div class="book_item">
                            <a href="#">
                                <div class="book">
                                    <div class="book_picture">
                                        <img src="img/book1.png" alt="">
                                    </div>
                                    <div class="book_desc">
                                        <span class="book_logo"></span>
                                        <div class="book_title">
                                            ლურჯი ოკეანის სტრატეგია
                                        </div>
                                        <div class="book_price">
                                            <div class="books_new_price">
                                                <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                <span class="gel">ლ</span>
                                            </div>
                                            <div class="books_old_price">
                                                <div class="old_line">
                                                    <span class="cash_price">16.</span>
                                                    <span class="gel">ლ</span>
                                                </div>
                                                <span class="price_cash_old">50</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="book_item">
                            <a href="#">
                                <div class="book">
                                    <div class="book_picture">
                                        <img src="img/book2.png" alt="">
                                    </div>
                                    <div class="book_desc">
                                        <span class="book_logo"></span>
                                        <div class="book_title">
                                            ლურჯი ოკეანის სტრატეგია
                                        </div>
                                        <div class="book_price">
                                            <div class="books_new_price">
                                                <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                <span class="gel">ლ</span>
                                            </div>
                                            <div class="books_old_price">
                                                <div class="old_line">
                                                    <span class="cash_price">16.</span>
                                                    <span class="gel">ლ</span>
                                                </div>
                                                <span class="price_cash_old">50</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="book_item">
                            <a href="#">
                                <div class="book">
                                    <div class="book_picture">
                                        <img src="img/book4.png" alt="">
                                    </div>
                                    <div class="book_desc">
                                        <span class="book_logo"></span>
                                        <div class="book_title">
                                            ლურჯი ოკეანის სტრატეგია
                                        </div>
                                        <div class="book_price">
                                            <div class="books_new_price">
                                                <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                <span class="gel">ლ</span>
                                            </div>
                                            <div class="books_old_price">
                                                <div class="old_line">
                                                    <span class="cash_price">16.</span>
                                                    <span class="gel">ლ</span>
                                                </div>
                                                <span class="price_cash_old">50</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="book_item">
                            <a href="#">
                                <div class="book">
                                    <div class="book_picture">
                                        <img src="img/book3.png" alt="">
                                    </div>
                                    <div class="book_desc">
                                        <span class="book_logo"></span>
                                        <div class="book_title">
                                            ლურჯი ოკეანის სტრატეგია
                                        </div>
                                        <div class="book_price">
                                            <div class="books_new_price">
                                                <span class="cash_price">14.</span> <span class="price_cash">50</span>
                                                <span class="gel">ლ</span>
                                            </div>
                                            <div class="books_old_price">
                                                <div class="old_line">
                                                    <span class="cash_price">16.</span>
                                                    <span class="gel">ლ</span>
                                                </div>
                                                <span class="price_cash_old">50</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="cls"></div>
                </div>
            </div>
        </section>

        <div class="cls"></div>
        <section class="siaxleebi">
            <div class="container">
                <div class="siaxleebi_in product_siaxleebi">
                    <ul class="tabs2 books_title news_title">
                        <li class="active" rel="tab1">სიახლეები</li>
                    </ul>
                    <div class="news_all">
                        <div class="news">
                            <a href="#">
                                <div class="news_img">
                                    <img src="img/news-1.png" alt="">
                                </div>
                                <div class="news_desc">
                                    ბიზნესლიტერატურის პროექტი ”ლურჯი ოკეანე” ახალგაზრდების დასაქმების ფესტივალზე იყო წარმოდგენილი
                                </div>
                                <div class="date">
                                    <span class="date_in">26.06.2017</span>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <a href="#">
                                <div class="news_img">
                                    <img src="img/news-4.png" alt="">
                                </div>
                                <div class="news_desc">
                                    ”პალიტრა მედია” და პროექტი ”ლურჯი ოკეანე” ღონისძიების პარტნიორი იყო
                                </div>
                                <div class="date">
                                    <span class="date_in">26.06.2017</span>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <a href="#">
                                <div class="news_img">
                                    <img src="img/news-3.png" alt="">
                                </div>
                                <div class="news_desc">
                                    ბიზნესლიტერატურის პროექტი ”ლურჯი ოკეანე” ახალგაზრდების დასაქმების ფესტივალზე იყო წარმოდგენილი
                                </div>
                                <div class="date">
                                    <span class="date_in">26.06.2017</span>
                                </div>
                        </div>
                        </a>
                        <div class="news">
                            <a href="#">
                                <div class="news_img">
                                    <img src="img/news-2.png" alt="">
                                </div>
                                <div class="news_desc">
                                    ”პალიტრა მედია” და პროექტი ”ლურჯი ოკეანე” ღონისძიების პარტნიორი იყო
                                </div>
                                <div class="date">
                                    <span class="date_in">26.06.2017</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="cls"></div>
        <div class="footer_border">

            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <footer>
            <div class="container">
                <div class="footer_in">
                    <div class="left_footer">
                        <div class="footer_title">
                            მეტი ინფორმაცია
                        </div>
                        <div class="footer_qveda_info">
                            <div class="footer_info">
                                <div class="footer_books">
                                    წიგნები
                                </div>
                                <div class="footer_books1">
                                    <a href="#">მენეჯმენტი</a>
                                </div>
                                <div class="footer_books1">
                                    <a href="#">მარკეტინგი</a>
                                </div>
                                <div class="footer_books1">
                                    <a href="#">Start Up</a>
                                </div>
                            </div>

                            <div class="footer_info2">
                                <div class="footer_books">
                                    სიახლეები
                                </div>
                                <div class="footer_books1">
                                    <a href="#">მენეჯმენტი</a>
                                </div>
                                <div class="footer_books1">
                                    <a href="#">მარკეტინგი</a>
                                </div>

                            </div>
                            <div class="footer_info3">
                                <div class="footer_books">
                                    კონტაქტი
                                </div>
                                <div class="footer_books1 adress">
                                    თბილისი, იოსებიძის ქ. №49
                                </div>
                                <div class="footer_books1 website">
                                    www.blueocean.ge
                                </div>
                                <div class="footer_books1 email">
                                    webadmin@blueocean.ge
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="right_footer">
                        <div class="right_title">
                            წარმატების ბიბლიოთეკა
                        </div>
                        <div class="cls"></div>
                        <div class="top">
                            <div class="topge">
                                <img src="img/topge.png" alt="">
                            </div>

                            <div class="like_fb">
                                <img src="img/fblike.jpg" alt="">
                            </div>
                        </div>
                        <div class="cls"></div>
                        <div class="copyright">
                            2017 &copy; ყველა უფლება დაცულია
                        </div>

                    </div>
                </div>
            </div>

        </footer>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/owl.carousel.min.js"></script>
</body>

</html>
